
   <section class="navv">
   <div class="navbar-fixed">
        <nav class="teal darken-1">
            <div class="nav-wrapper container ">
            <a href="./index.php" class="brand-logo ">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./index.php">Inicio</a></li>
                <li><a href="./formatos/revistas.php">Revistas</a></li>
                <li><a href="./formatos/videos.php">Videos</a></li>
                <li><a href="./formatos/documentales.php">Documentales</a></li>
            </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="./index.php">Inicio</a></li>
        <li><a href="./revistas.php">Revistas</a></li>
        <li><a href="./videos.php">Videos</a></li>
        <li><a href="./documentales.php">Documentales</a></li>
     </ul>
   </section>
   <div class="parallax-container" id="parallax-container">
       <div id="frase" >
       <h1 class="white-text center-align" >hola</h1>
       <h3 class="white-text center-align"><span class="rotating">“En algún lugar de un libro, hay una frase esperándonos para darle sentido a la existencia”.</span></h3>
       <div class="actions center-align">
          <a href="./registro.php" class="btn-registro">Registrarse</a>
          <a href="./login.php" class="btn-inicio">Iniciar sesión</a>
        </div>
       </div>
      <div class="parallax"><img src="../../../assets/img/3.jpg">
    </div>
    </div>

   <section class="revistas">
   <div class="section white">
      <div class="row container">
      <h3 class="section-title center-align">¡Bienvenido!</h3>
      <div class="section-title-divider"></div>
            <p class="grey-text text-darken-3 lighten-3 center-align">Disfruta del contenido que tenemos para ti</p>
       
            <div class="col s12 m4">
                    <div class="card">
                    <div class="card-image">
                    <img src="../../../assets/img/1.jpg">
                    <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="./registro.php">This is a link</a>
                    </div>
                    </div>
            </div>

      </div>
    </div>
   </section>
<section class="videos">
   <div class="parallax-container" id="parallax">
      <div class="parallax"><img src="../../../assets/img/4.jpg"></div>
    </div>
    <section class="videos">
   <div class="section white">
      <div class="row container">
          
            <h3 class="section-title center-align">¡Tenemos para ti los mejores videos!</h3>
            <div class="section-title-divider"></div>
           
       
            <div class="col s12 m4">
            <div class="card">
            <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="./registro.php">This is a link</a>
                    </div>
                    </div>
                
            </div>
      </div>
    </div>
   </section>

<section class="documentales">
   <div class="slider">
    <ul class="slides">
      <li >
        <img src="../../../assets/img/6.jpg" > <!-- random image -->
        <div class="caption center-align">
          <h3 class=" grey-text text-lighten-4" id="color">"El autor sólo escribe la mitad de un libro. De la otra mitad debe ocuparse el lector".</h3>
          <h5  >J. Conrad</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/img/2.jpg"> <!-- random image -->
        <div class="caption center-align">
          
          <h3 class="light grey-text text-lighten-3" id="color">“Cuando terminas un buen libro no se acaba. Se esconde adentro tuyo”.</h3>
          <h5>Liniers</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/img/5.jpg"> <!-- random image -->
        <div class="caption center-align">
          
          <h3 class="light grey-text text-lighten-3"id="color"> “Sabes que has leído un buen libro cuando al cerrar la tapa después de haber leído la última página te sientes como si hubieras perdido a un amigo”.</h3>
          <h5>  Paul Sweeney</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/img/7.jpg"> <!-- random image -->
        <div class="caption center-align">
         
          <h3 class="light grey-text text-lighten-3"id="color">¡Registrate! y disfruta del contenido completo.</h3>
        </div>
      </li>
    </ul>
  </div>
      

    <div class="section white">

      <div class="row container">
            
            <h3 class="section-title center-align">¡Los mejores libros!</h3>
            <div class="section-title-divider"></div>
       
            <div class="col s12 m4">
                    <div class="card">
                    <div class="card-image">
                    <img src="../../../assets/img/1.jpg">
                    <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="./registro.php">This is a link</a>
                    </div>
                    </div>
            </div>

      </div>
    </div>
   </section>

   
   <footer class="page-footer teal darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contáctanos</h5>
                <ul>

                <li><a class="grey-text text-lighten-3" href="./contactanos.php">(998)1887007
               </a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Visítanos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="./revistas.php">Revistas</a></li>
                  <li><a class="grey-text text-lighten-3" href="./videos.php">Videos</a></li>
                  <li><a class="grey-text text-lighten-3" href="./documentales.php">Documentales</a></li>
                  <li><a class="grey-text text-lighten-3" href="./contactanos.php">Contactanos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright 
            
            </div>
          </div>
        </footer>

    

    



